*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    display: flex;
    background-color: #b573fd;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
    height: auto;
    /* background: red; */
    margin-left: 4%;
    display: flex;
    /* justify-items: center; */
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
}
.logo img{
    width: 40px;
    height: auto;
    border-radius: 10px;
}
.logo p{
    font-size: 20px;
    font-weight: bold;
}
.list{
    display: flex;
    width: auto;
    gap: 30px;
    list-style: none;
    margin-right: 25px;
    font-size: 20px;
    font-weight: 500;
}
li{
    user-select: none;
    cursor: pointer;
}